<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True -->
    <!-- Server=.;DataBase=DapperTut;Trusted_Connection=True -->
    <add name="DapperTut" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>